:root {
--primary-color: #191970;
--secondary-color: #48D1CC;
--tertiary-color:
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F8FF;
}

/* Header styles start */

header {
    background-color: var(--primary-color);
    margin: 0;
    padding: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    background-color: var(--secondary-color);
    float: left;
    padding: 8px 8px 8px 80px;
    margin: 0 0 8px 0;
}

header h1 a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav{
    margin: 0 0 8px 0;
}

header nav ul li a {
    padding: 0 15px;
    text-decoration: underline;
    color: var(--secondary-color);
    font-size: 1.55vw;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Header styles end */

/* Hero section styles start */
.hero {
    background-image: url('../images/istockphoto-1135911226-170667a.jpg');
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
    margin:0 0 50px;
    position: relative;
}

.hero h2 {
    font-weight: bold;
    font-size: 30px;
    background-color: var(--secondary-color);
    float: right;
    padding: 8px;
    margin: 150px 30px 20px 0;
    color: var(--primary-color);
    box-shadow: 0 0 10px var(--secondary-color);
}

.hero img {
    position: absolute;
    left: 85px;
    top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--secondary-color);
}

/* Hero section styles end */

/* About section styles start */

.about {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 40px;
}

.about h2{
    margin: 0;
}

.about-header {
    width: 15%;
    text-align: right;
    font-weight: bold;
    font-size: 2.5vw;
    border-right: var(--primary-color) solid;
    padding-right: 15px;
}

.about-text {
    width: 84%;
    text-align: left;
    padding-top: 20px;
    line-height: 1.5;
}

/* About section styles end */

/* Work section styles start */

.works {
width: 84%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.works h3 {
    background-color: var(--secondary-color);
    margin-bottom: 0;
    width: 20px;
    padding: 2px;
}

.works p {
    background-color: var(--secondary-color);
    margin-top: 0;
    padding: 2px;
}

.surf {
    border: var(--secondary-color) solid 4px;
    background-image: url('../images/Screenshot_1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    position: relative;
    opacity: 0.9;
}

.surf:hover {
    transform: scale(1.02);
    opacity: 1;
}

.surf h3 {
    position: relative;
    width: 220px;
    top: 300px;
} 

.surf p {
    position: relative;
    width: 220px;
    top: 300px;
    opacity: 1;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.small-boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

.led:hover {
    transform: scale(1.02);
    opacity: 1;
}

.led {
    border: var(--secondary-color) solid 4px;
    background-image: url('../images/Screenshot_3.jpg');
    background-size: cover;
    background-position: center; 
    display: block;
    width: 49%;
    height: 200px;
    position: relative;
    margin: 10px 10px 10px 0;
    opacity: 0.9;
}

.calc {
    border: var(--secondary-color) solid 4px;
    background-image: url('../images/images.jpg');
    background-size: cover;
    background-position: center; 
    display: block;
    width: 49%;
    height: 200px;
    position: relative;
    margin: 10px 0 10px 0px;
    opacity: 0.9;
}

.calc:hover {
    transform: scale(1.02);
    opacity: 1;
}

.pastel {
    border: var(--secondary-color) solid 4px;
    background-image: url('../images/download.jpg');
    background-size: cover;
    background-position: center; 
    display: block;
    width: 49%;
    height: 200px;
    position: relative;  
    margin: 0 30px 20px 0;
    margin: 10px 10px 10px 0;
    opacity: 0.9;
}

.pastel:hover {
    transform: scale(1.02);
    opacity: 1;
}

.run {
    border: var(--secondary-color) solid 4px;
    background-image: url('../images/Screenshot\ 2022-04-12\ 20.00.50.png');
    background-size: cover;
    background-position: center; 
    display: block;
    width: 49%;
    height: 200px;
    position: relative;  
    margin: 10px 0 10px 0px;
    opacity: 0.9;
}

.run:hover {
    transform: scale(1.02);
    opacity: 1;
}

.small-boxes h3 {
    position: relative;
    width: 225px;
    top: 80px;
}

.small-boxes p {
    position: relative;
    width: 225px;
    top: 80px;
}

/* Work section styles end */

/* Contact section styles start */
.contact {
    display: flex;
    flex-wrap: wrap;
}

.contacts {
    width: 84%;
    height: 80px;
    align-items: center;
}

.contacts ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;
    list-style: none;
    text-decoration:underline;
    color: var(--primary-color);
    padding: 30px 20px 0 20px;
    font-weight: bold;
    font-size: 20px;

}

.contacts a {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
}
/* Contact section styles end */

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    header h1 {
        padding-left: 50px;
    }

    .contacts ul {
        font-size: 15px;
        padding-top: 30px;
    }

    .contacts a {
        font-size: 15px;
    }

    .contacts {
        height: 100px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    header h1 {
        padding-left: 10px;
    }

    header nav ul li a {
        font-size: 4vw;
    }

    .hero img {
        left: 10px;
    }

    .hero h2 {
        font-size: 1.55vw;
    }

    .about-text {
        padding: 0;
    }
    .surf {
        height: 200px;
    }

    .surf h3 {
        top: 130px;
    }

    .surf p {
        top: 130px;
    }

    .led {
        height: 200px;
        width: 100%;
        margin-right: 0;
    }

    .calc {
        height: 200px;
        width: 100%;
        margin-right: 0;
    }

    .pastel {
        height: 200px;
        width: 100%;
        margin-right: 0;
    }

    .run {
        height: 200px;
        width: 100%;
        margin-right: 0;
    }

    .small-boxes h3 {
        top: 130px;
    }

    .small-boxes p {
        top: 130px;
        font-size: 1.55vw;
        width: 140px;

    }

    .small-boxes h3 {
        width: 140px;
    }

    .contacts ul {
        padding-top: 0px;
        padding-bottom: 20px;
        font-size: 3vw;
        line-height: 1.5;
        margin-right: 3%;

    }

    .contacts a {
        font-size: 3vw;
        line-height: 1.5;
    }

    .contacts {
        height: 30px;
    }

    .hero {
        justify-content: space-between;
    }

    .hero img {
        top: 5px;
        bottom: 5px;
    }

    .hero h2 {
        font-size: 15px;
        float: left;
        margin: 210px 0 10px 10px;
    }
}

.test {color: red;
font-weight: bold;}